@page "/"
@namespace MyOCR.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyOCR</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="MyOCR.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript">
        function myDrawImg() {
            var dot = null;
            ResizeCanvas();
            var src = document.getElementById('source');
            var at = src.attributes.src;
            src.removeAttribute.src;
            src.attributes.src = at;
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
            var image = document.getElementById('source');
            context.drawImage(image, 0, 0);
        };
        function ResizeCanvas() {
            var src = document.getElementById('source');
            var wt = src.width;
            var ht = src.height;
            var canvas = document.getElementById("canvas");
            canvas.width = wt;
            canvas.height = ht;
        };
        function myDrawRect(x, y, width, height,color) {
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");
            context.strokeStyle = color;
            context.strokeRect(x, y, width, height);
            context.strokeRect(x + width - 2, y + height-2, 2, 2);
            context.strokeRect(x + width - 3, y + height - 3, 3, 3);
        };
        function getsize(dotNetInstance) {
            var src = document.getElementById('source');
            dot = dotNetInstance;
            dotNetInstance.invokeMethodAsync('UpdateMessageCaller', ""+src.width, ""+src.height);
        };
        document.addEventListener('keydown', function (event) {
            if (dot != null) dot.invokeMethodAsync('OnKeyPress', event.code);
            }
        );
    </script>

</body>
</html>
